<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hermes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launchert_round"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/google_maps_key">
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="Hermes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Alarmas Recientes">
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Seleccionar Parada"
            android:parentActivityName=".MainActivity"
            tools:ignore="ExtraText">
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="Finalizá tu Alarma"
            android:parentActivityName=".Main2Activity">
        </activity>
        <activity
            android:name=".AcercaDeNosotros"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".FcmMensajes"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>